.dialog {
  width: 80vw;
}

.dialogContent {
  height: 80vh;
}

body .button {
  margin-right: 12px;
  margin-bottom: 4px;
}

body .toggleButton {
  width: 120px;
  height: 33px;
  margin-right: 12px;
  margin-bottom: 4px;
}
